<!DOCTYPE html>
<html>

<head>
    <title>{{ app.name }}</title>
    <style>
        .important-info {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        .additional-info {
            background-color: #f7f7f7;
            padding: 10px;
            border-radius: 5px;
        }

        .additional-info p {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h1>{{ app.name }}</h1>

    <div class="important-info">
        <p>ID: {{ app.id }}</p>
        <p><strong>Installs:</strong> {{ app.installs or 'N/A' }}</p>
        <p><strong>Reviews:</strong> {{ app.review_count }}</p>
        <p><strong>Rating:</strong> {{ app.rating }}</p>
        <p><strong>Last Updated:</strong> {{ app.store_last_updated }}</p>
    </div>

    <h2>Additional Information</h2>
    <div class="additional-info">
        <p>Developer: {{ app.developer }}</p>
        <p>Store ID: {{ app.store_id }}</p>
        <p>Store: {{ app.store }}</p>
        <p>Category: {{ app.category }}</p>
        <p>Free: {{ app.free }}</p>
        <p>Price: {{ app.price }}</p>
        <p>Size: {{ app.size or 'N/A' }}</p>
        <p>Minimum Android Version: {{ app.minimum_android or 'N/A' }}</p>
        <p>Developer Email: {{ app.developer_email or 'N/A' }}</p>
        <p>Content Rating: {{ app.content_rating or 'N/A' }}</p>
        <p>Ad Supported: {{ app.ad_supported or 'N/A' }}</p>
        <p>In-App Purchases: {{ app.in_app_purchases or 'N/A' }}</p>
        <p>Editor's Choice: {{ app.editors_choice or 'N/A' }}</p>
        <p>Created At: {{ app.created_at }}</p>
        <p>Crawl Result: {{ app.crawl_result }}</p>
    </div>

    <a href="{{ url_for('index') }}">Back to Home</a>
</body>

</html>