<!DOCTYPE html>
<html>

<head>
    <title>{{ category }}</title>
    <style>
        .important-info {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        .additional-info {
            background-color: #f7f7f7;
            padding: 10px;
            border-radius: 5px;
        }

        .additional-info p {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h1>{{category}} Most Installed Apps</h1>

    <ul>
        {% for app in apps %}
        <li><a href="{{ url_for('app_detail', store=app['store'], app_id=app['store_id']) }}">{{app['store'] + " - " +
                app['name']}}</a> - {{
            app['installs'] or 'N/A' }} installs</li>
        {% endfor %}
    </ul>


    <a href="{{ url_for('index') }}">Back to Home</a>
</body>

</html>