<!DOCTYPE html>
<html>

<head>
    <title>App Categories</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Search</h1>
    <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="query" placeholder="Search for an app...">
        <input type="submit" value="Search">
    </form>
    <br>
    <h1>App & Game Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Android</th>
                <th>iOS</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in cats %}
            <tr>
                <td><a href="{{ url_for('category', category=cat['category']) }}">{{ cat['category'] }}</a></td>
                <td>{{ cat['android'] }}</td>
                <td>{{ cat['ios'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>