[Unit]
Description=Using node to serve frontend for App Store Dash
StartLimitBurst=3
StartLimitIntervalSec=30
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
SupplementaryGroups=www-data
Environment=NODE_ENV=production SOCKET_PATH=/tmp/app-store-frontend.sock
ExecStartPre=/bin/bash -c "sudo rm -f /tmp/app-store-frontend.sock"
ExecStart=/usr/bin/node /home/ubuntu/app-store-dash/frontend/build
ExecStartPost=/bin/bash -c "sleep 5 && sudo chown www-data:www-data /tmp/app-store-frontend.sock"
Restart=on-failure
KillMode=mixed

[Install]
WantedBy=multi-user.target
