[Unit]
Description=Gunicorn instance to serve frontend for App Store Dash
StartLimitBurst=3
StartLimitIntervalSec=30
After=network.target

[Service]
Type=Notify
User=ubuntu
Group=ubuntu
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/app-store-dash/frontend
Environment=PORT=5001 NODE_ENV=production
ExecStart=/usr/local/bin/node /home/james/app-store-dash/frontend/build
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
